<br />
<div class="d-flex">
  <span class="spacer"></span>
  <p-floatLabel>
    <p-calendar #calendar [(ngModel)]="date" inputId="message" view="year" dateFormat="yy" />
    <label for="message">Seleccione un año</label>
  </p-floatLabel>
  <p-button (onClick)="validarFestivo()" label="Submit" />
  <span class="spacer"></span>
</div>
<br />

<div *ngIf="mensaje !== ''">
  <p class="p-3 text-center text-xl">
    {{ mensaje }}
  </p>
</div>

<div class="card" *ngIf="mostrarDiv">
  <p-table [value]="festivos" [paginator]="true" [rows]="20" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
      <tr>
        <th id="id" style="width: 25%">Id</th>
        <th id="nombre" style="width: 25%">Nombre</th>
        <th id="mes" style="width: 25%">Mes</th>
        <th id="dia" style="width: 25%">Dia</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-festivo>
      <tr>
        <td>{{ festivo.id }}</td>
        <td>{{ festivo.nombre }}</td>
        <td>{{ festivo.mes }}</td>
        <td>{{ festivo.dia }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>