.centrar{
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    width: 100%; /* Ancho completo */
}

