<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="(sidenav.toggle)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <mat-nav-list> -->
    <ul class="list-group">
      <button
        class="list-group-item myCustom"
        *ngFor="let item of sidenavItems"
        [routerLink]="item.route"
        (click)="sidenav.toggle()"
        routerLinkActive="active"
      >
        {{ item.label }}
    </button>
    </ul>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <span>Validador de fechas festivas</span>

    <span class="spacer"></span>
  </mat-toolbar>
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
